
<form name="buyForm" ng-submit="buyForm.$valid && buy(items)" novalidate>
	<div class="margin-top-xl">
		<h4>Your shopping:</h4>
	</div>
		
	<div class="div-table">
	
		<div class="div-table-row" ng-repeat="item in items" ng-form="repeatForm">
	
			<div class="div-table-col">
				<label>{{item.name}}:</label>
			</div>
	
			<div class="div-table-col">
				<input type="number"
					   ng-model="item.toBuy"
					   name="count"
					   min="1" max="{{item.count}}" 
					   ng-disabled='{{item.count == 0}}'/>
			    <br/>
			    <div style="position:absolute">
					<small class="error" ng-show="repeatForm.count.$error.number">
						The value is not a valid integer!
					</small>
				    <small class="error" ng-show="repeatForm.count.$error.min || repeatForm.count.$error.max">
	 					The value must be in range 1 to {{item.count}}!
	  				</small>
	   			</div>
			</div>
			
			<div class="div-table-col">
				<input ng-if="$last" type="submit" value="Buy" class="margin-left-xl"/>
			</div>		
		
		</div>
	</div>
</form>