#header {
	position: relative;
	background-color: #A6A6A6;
	color: white;
	padding: 5px;
	margin: 0px 0px 10px 0px;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #87FA89;
}

.error {
	color: red;
}

.padding-bottom-normal {
	padding-bottom: 20px;
}

input {
	width: 50px;
}
